/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #004080;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

header .tagline {
    font-style: italic;
    font-size: 1em;
}

/* Navigation */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}

/* Section Styles */
.section {
    padding: 40px 0;
}

h2 {
    color: #004080;
    font-size: 1.2em;
    margin-bottom: 16px;
}

h3 {
    color: #004080;
    font-size: 1em;
    margin-top: 20px;
}

p {
    line-height: 1.6;
}

/* Team Section */
.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin: 14px;
}

.team-member img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}

.team-member h3 {
    font-size: 1em;
}

.team-member p {
    font-size: 1em;
    color: #777;
}

/* Collaborators List */
.collaborators-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.collaborators-list li {
    margin-bottom: 10px;  /* Reduced vertical space between list items */
}

.collaborators-list h4 {
    font-size: 1em;
    margin: 5px 0;  /* Reduced margin above and below names */
}

.collaborators-list p {
    font-size: 1em;
    color: #777;
    margin: 0;  /* Remove extra margin around paragraphs */
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 16px 0;
    text-align: center;
}

footer p {
    font-size: 0.9em;
}
